<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Creator</title>
</head>
<body>
    <h1>Create A New User</h1>
    <form>
      <div>
        Creator Name: <input type="text" name="creatorName"><br>
        Creator Password: <input type="password" name="cardNumber"><br>
        New Username: <input type="text" name="validThru"><br>
        New Password: <input type="password" name="CVV"><br>
        <button type="submit">Create User</button>
      </div>
    </form>
    <script src="index.js"></script>
</body>
</html>